/*tooltip */

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    height: 50px;
    padding: 2px;
    background: white;
    stroke: gray;
    border-radius: 8px;
    pointer-events: none;
}

.tooltip h2 {
    margin: auto;
    font: 14px sans-serif;
    font-weight: bold;
}

.tooltip h3 {
    margin: auto;
    font: 12px sans-serif;
}

text.label {
    font: 16px sans-serif;
    font-weight: bold;
}

.axisLabel{
    font-weight:bold;
    font: 20px sans-serif;

}


@font-face {
    font-family: 'font1';
    src: url('assets/font1.ttf');
}

@font-face {
    font-family:'font2';
    src: url('assets/font2.ttf');
}


#bubbleChart{
    width: 1050px;
    padding: 0.5em;
    float: left;

}

#tableContainer {
    width: 900px;
    padding: 0.5em;
    float: left;
}

.totalText{
    position: absolute;
    text-align:center;
    font: 20px sans-serif;
    font-weight:bold;
}

.unselected{
    fill: gray;
}





